<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <div style="position:absolute;right: 10px;top: 10px;"><img src="/public/images/" alt="image of me"></div>
    <p>My name is Abrham Kassa. I'm a software engineer with a strong foundation in object-oriented programming. I am very passionate about building large-scale technology solutions, that aim to have impact millions of users globally. I adapt quickly to new challenges and cutting-edge technologies and thrive in dynamic teams that foster creativity and continuous learning. </p>
    <p>Beyond coding, I find joy in the great outdoors, embracing nature and outdoor activities. When indoors, you'll catch me indulging in the thrill of video games. I am a self-proclaimed geek now and then and I enjoy bringing a playful enthusiasm to my love for technology and innovation.</p>
<%- include('../partials/footer') %>