<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <div style="position:absolute;right: 10px;top: 10px;"><img src="/public/images/" alt="Logo"></div>
    <h4>Welcome to my website</h4>
<%- include('../partials/footer') %>