<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <p><img src="/public/images/" alt="image of a black panther"></p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
    <p>Clever content goes here</p>
<%- include('../partials/footer') %>