<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <h5>What I've Done</h5>
    <p> </p>
    <div style="position:absolute;right: 10px;top: 10px;"><img src="/public/images/" alt="projects"></div>

    <ol>
        <li>Calculator</li>
        <li>Carlot</li>
        <li>Todo list App</li>
        <li>Weather App</li>
    </ol>
<%- include('../partials/footer') %>