<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <h5>What I've Done</h5>
    <p> </p>
    <img src="/public/images/weather.png" alt="projects">

    <ol>
        <li>Calculator</li>
        <li>Carlot</li>
        <li>Todo list App</li>
        <li>Weather App</li>
    </ol>
<%- include('../partials/footer') %>