<%- include('../partials/header') %>
    <h1><%=title%></h1>
    <h5>What I Do</h5>
    <p> </p>
    <img src="/images/skills.png" alt="code" style="width: 150px; height: auto;">
    <u>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>C++</li>
    </u>
<%- include('../partials/footer') %>